{% extends "base.html" %} {% block content %} {% load static %}


<section class="content">


  <div class="main">
    <div class="main-header">
      <img src="/static/img/techis-logo.png" class="logo">
      <h1>Home</h1>
    </div>
  </div>


  <section class="post_form">
    <form action="/" method="POST" enctype='multipart/form-data'>
      {% csrf_token %}
      <div>
        <div class="dplogo">
          <img src="{% static 'img/img-dp.jpeg' %}" />
        </div>

        <div class="input">
          <input type="text" name="name" placeholder="Name" required />
          <textarea name="body" placeholder="Out with your thoughts!" required></textarea>
        </div>

        <div class="bottom-area">
          <div class="mb-0">
            <!--<label for="myfile"></label>-->
            <input accept="audio/*|video/*|image/*" type="file" id="myfile" name="image"/> 
          </div>
          <button class="btn" type="submit">Tweet</button>
        </div>
      </div>
    </form>
  </section>